In [2]:
class Box:
    def __init__(self): 
        self.v=10
    def f1(self):
        return self.v
    
obj=Box()
obj.f1()

10

In [ ]:
int float str bytes bool list tuple dict set <=== class - in oops 
|    |     |    |    |    |      |   |    |

In [ ]:
int - type - class
-1 0 1 2 3 - value - object 
 | | | | |

In [ ]:
a=10
b=int(10)   #  class int:
                    def __init__(self,a=0):
                             self.a=a
                           ....

In [3]:
a=10
b=int(10) # oops style 
print(type(a),type(b))
print(a,b)
print(a+b)

<class 'int'> <class 'int'>
10 10
20

In [5]:
s1='hello'
s2=str('Welcome')
s3=str() # empty string
s3

''

In [7]:
L=list()
L
d=dict()
d

{}

In [8]:
class Box:
    pass

type(Box)

type

In [9]:
type(int)

type

In [ ]:
# type -->class
# value -->object
# variable=value -->-- like def __init__(self....)
#

In [10]:
class A:
    def f1(self):
        print("F1 block")
class B:
    def f2(self):
        print("F2 block")
        
objA=A()
objB=B()

objA.f1()
objB.f2()

F1 block
F2 block

In [11]:
objB.f1()

AttributeError: 'B' object has no attribute 'f1'

In [12]:
class A:
    def f1(self):
        print("F1 block")
class B(A): # class ChildNAME(ParentClassname): # Vs def function(args):
    def f2(self):
        print("F2 block")
        
obj=B()
obj.f1()
obj.f2()

F1 block
F2 block

In [14]:
class Box: # python 3.x 
    v=10
obj=Box()
obj.v

10

In [13]:
class Box(object): # python 2.x 
    v=10 
    
obj=Box()
obj.v

10

In [ ]:
file: ab.py                      ---->    file: test1.py
------------                              ------------------
class Enrollment:                           import ab
    def __init__(self,a1,a2):               class Person(ab.Enrollment):
        self.name=a1                              def f3(self):
        self.dept=a2                                  self.status=True
    def f1(self):                            ------------------------
        return self.name,self.dept

In [ ]:
file:p1.py
===========
import test1
obj1=test1.Person('arun','sales')
obj1.f1()
if obj1.f3():
    print("Enrollment is done")

In [19]:
class A:
    def f1(self):
        print("ParentBlock")
class B(A):
    def f1(self):
        print("ChildBlock")
        #super(B,self).f1()
        A.f1(self) # calling parent method 
obj=B()
obj.f1()

ChildBlock
ParentBlock

In [ ]:
Method Resolution Order(MRO)

when a class inherits from multiple parents
 python ->1st check parent  then parent of the parent ..so on
        finally ->current class

In [21]:
class A:
    def f1(self):
        print("from class A")
class B:
    def f2(self):
        print("From class B")
class C(B,A):
    pass

obj=C()
C.mro()
# [__main__.C, __main__.A, __main__.B, object] <== class C(A,B)

[__main__.C, __main__.B, __main__.A, object]

In [24]:
class A:
    def f1(self):
        print("from class A")
class B:
    def f1(self):
        print("From class B")
class C(B,A):
    pass

obj=C()
obj.f1()
C.mro()

From class B

[__main__.C, __main__.B, __main__.A, object]

In [27]:
class A:
    def f1(self):
        print("A Class")
class B:
    def f1(self):
        print("B class")
class C(A,B):
    def f1(self):
        print("C class")
    
class D(C,B):
    pass

obj=D()
obj.f1()
D.mro()

[__main__.D, __main__.C, __main__.A, __main__.B, object]

In [29]:
class A:
    def f1(self):
        print("A Class")
class B(A):
    def f1(self):
        print("B class")
class C(A):
    def f1(self):
        print("C class")
    
class D(B,C):
    pass

obj=D()
#obj.f1()
D.mro()

[__main__.D, __main__.B, __main__.C, __main__.A, object]

In [30]:
class Box:  # class Box(object): <== 2.x 
    pass

Box.mro()

[__main__.Box, object]

In [31]:
#class  object method (constructor)  inheritance (super) mro()

class Box:
    var=100
    
Box.var # we can access class attributes
Box.var=200 # we can modify class attributes
Box.place='city'# we can create a newvariable

In [33]:
class Emp:
    NAME=''
    DEPT=''
    def f1(self,a1,a2):
        self.NAME=a1
        self.DEPT=a2
    def f2(self):
        return self.NAME,self.DEPT
    def f3(self,a1):
        self.DEPT=a1
    
obj1=Emp()
obj1.f1("arun","sales")
r1=obj1.f2()
obj1.f3('ADMIN')
print(r1)
obj1.f2()
Emp.PLACE=''

('arun', 'sales')

In [34]:
obj1.PLACE='City1'
obj1.PLACE

'City1'

In [ ]:
# decorator 
# ----------
#  |_meta programming - adding newfeatures to existing code 
#
# python ------>Application ------>V1.0 
#                  |
#                 Updated ---------->V1.1
#                  |
#                 Updated ----------->V1.2
#

In [38]:
def f1(): # decorator function
    def f2(): # wrapper function
        def f3():
            print("App-1")
        def f4():
            print("App-2")
        def f5():
            print("App-3")
        f3()
        f4()
        f5()
    return f2
rv=f1()
rv()

App-1
App-2
App-3

In [40]:
def f1(a1): # decorator function
    def f2(): # wrapper function
        def f3():
            print("App-1")
        def f4():
            print("App-2")
        def f5():
            print("App-3")
        f3()
        f4()
        f5()
        a1()
    return f2


def fx():
    print("Updated-App4")
    
rv=f1(fx)
rv()

App-1
App-2
App-3
Updated-App4

In [41]:
@f1
def fx():
    print("Updated-App4")
fx()

App-1
App-2
App-3
Updated-App4

In [42]:
@f1
def fy():
    print("Updated-App5")
fy()

App-1
App-2
App-3
Updated-App5

In [43]:
fx()

App-1
App-2
App-3
Updated-App4

In [45]:
fy()

App-1
App-2
App-3
Updated-App5

In [46]:
def f1(a):
    def f2():
        a()
    return f2

In [47]:
@f1
def fx():
    print("Fx operation")

fx()

Fx operation

In [48]:
@f1
def fy():
    print("Fy operation")
fy()

Fy operation

In [49]:
fx()

Fx operation

In [50]:
fy()

Fy operation

In [51]:
class Box:
    fname='repo.log'
    @classmethod
    def f1(cls):
        print(cls)
        cls.var=100 # Box.var=100 (updating on the blueprint)
        cls.fname='p1.log' # Box.fname='p1.log'
    
    
Box.f1() # f1(Box)   Vs  obj=Box()   obj.f1()   f1(obj) -->def f1(self):

<class '__main__.Box'>

In [53]:
print(Box.var)
print(Box.fname)

100
p1.log

In [56]:
class Box:
    @classmethod
    def f1(cls):
        print(cls)
    def f2(self):
        print(self)
        self.f1() # using object - calling classmethod 

obj=Box()
obj.f1() # classmethod -> f1(classnameonly)
obj.f2() # instancemethod -> f2(classinstance)

<class '__main__.Box'>
<__main__.Box object at 0x0000000005529760>
<class '__main__.Box'>

In [58]:
class Emp:
    __NAME=''
    __DEPT=''
    def enroll(self,a1,a2):
        self.__NAME=a1
        self.__DEPT=a2
    def display(self):
        return self.__NAME,self.__DEPT
    def update(self,a1):
        self.__PLACE=a1 
    @classmethod
    def f1(cls,a1):
        cls.__PLACE=a1
    def f2(self):
        return self.__NAME,self.__DEPT,self.__PLACE
    
obj1=Emp()
obj1.enroll('arun','sales')
obj1.f2()

AttributeError: 'Emp' object has no attribute '_Emp__PLACE'

In [59]:
obj2=Emp()
obj2.enroll('vijay','prod')
Emp.f1('cityXYZ') # f1(Emp,'cityXYZ')

In [60]:
obj1.f2()

('arun', 'sales', 'cityXYZ')

In [61]:
obj2.f2()

('vijay', 'prod', 'cityXYZ')

In [62]:
obj2.update("City-2")
obj1.update("City-1")

In [63]:
obj1.f2()

('arun', 'sales', 'City-1')

In [64]:
obj2.f2()

('vijay', 'prod', 'City-2')

In [65]:
obj3=Emp()
obj3.enroll('kumar','QA')
obj3.f2()

('kumar', 'QA', 'cityXYZ')

In [66]:
class Box:
    def f1(self):
        print("object based method")
    @classmethod
    def f2(cls):
        print("class method")
    @staticmethod
    def f3():
        print("staticmethod")
        print("static method can't access classattributes")

        
obj=Box()
obj.f1() # f1(<objectname>)
obj.f2() # f2(<classname>)
obj.f3() # f3()

object based method
class method
staticmethod
static method can't access classattributes

In [67]:
Box.f3()

staticmethod
static method can't access classattributes

In [71]:
import os
class Fsinfo:
    def __init__(self,fstype='ext4',fpart='',fmount='/'):
        self.__fstype=fstype
        self.__fpart=fpart
        self.__fmount=fmount
    def display(self):
        # mount operation
        self.f3()
        return self.__fstype,self.__fmount
    @staticmethod
    def f3():
        print("Mounted filesystem details:-")
        os.system("df -Th")

In [72]:
obj1=Fsinfo("xfs","/dev/xvdb1","/D1")
obj1.display()

Mounted filesystem details:-

('xfs', '/D1')

In [73]:
obj2=Fsinfo("ext4","/dev/sdb2","/home")
obj2.display()

Mounted filesystem details:-

('ext4', '/home')

In [ ]:
# iterator - address - collection of data
#             |
#            outeraddress
#             

s='welcome'  #    'w' 'e' 'l' 'c' 'o' 'm'   'e'
             #         |---------------------|
             #        0x123                 0x123
        
>>> s='welcome'
>>>
>>> id(s)
7067008
>>>
>>> id(s[0])
6122080
>>>
>>> id('w')
6122080
>>>
>>> id(s[1]) == id('e')
True
>>> id(s[1])
5975296
>>> id(s[-1])
5975296

In [81]:
# iter(collection) --><Address>
#                          |__1.manual way open the address -> next(<Address>)
#                                                                ..
#                                                              STOPIteration
#                          |__2.automatic way ===> for loop 
#

s='welcome'
obj=iter(s)
print(next(obj))
print(next(obj))
print(next(obj))
print(next(obj))
print(next(obj))
print(next(obj))
print(next(obj))
print(next(obj))

w
e
l
c
o
m
e

StopIteration:

In [82]:
obj=iter(s)
for var in obj:
    print(var)

w
e
l
c
o
m
e

In [84]:
F=open("C:\\users\\karthikeyan\\emp.csv")
#F.read()
#F.readlines()
print(next(F))
print(next(F))

101,ram,sales,pune,10000

203,arun,prod,bglore,2000

In [86]:
F=open("C:\\users\\karthikeyan\\emp.csv")
for var in F:
    print(var.strip())
    
F.close()

101,ram,sales,pune,10000
203,arun,prod,bglore,2000
304,vijay,QA,chennai,30000
545,xerox,sales,mumbai,34234
456,anu,sales,noida,56780

In [ ]:
# Generator - Function
# --------------------
#    |__returns an iterator 
#                  ---------//called generator 

def f1():
    return 10 # return a value(10) then exit from function block 
              # ------                  -------------------------
def f2():
    yield 10 # returns address of 10 
    yield 12.3 # we can use more than 1 yield keyword inside the function
    yield 34.4

In [88]:
def f1():
    return 10
print(type(f1),type(f1()))

<class 'function'> <class 'int'>

In [89]:
def f2():
    yield 10
print(type(f2),type(f2()))

<class 'function'> <class 'generator'>

In [90]:
def f1():
    return 10      # exit from function block 
    print("Hello") # python won't execute this line
    
f1()

10

In [96]:
 def f1():
        yield 10
        print("Hello")
        yield 20
        yield 100+20
        yield "dir1",["F1","F2"]
        yield "STDOUT","STDERR"
        print("Welcome")
        yield "thank you"
        
obj=f1()

In [97]:
for var in obj:
    print(var)

10
Hello
20
120
('dir1', ['F1', 'F2'])
('STDOUT', 'STDERR')
Welcome
thank you

In [98]:
for var in f1():
    print(var)

10
Hello
20
120
('dir1', ['F1', 'F2'])
('STDOUT', 'STDERR')
Welcome
thank you

In [95]:
print(next(obj))
print(next(obj))
print(next(obj))
print(next(obj))
print(next(obj))

('STDOUT', 'STDERR')
Welcome
thank you

StopIteration:

In [100]:
def f1(a):
    n=10
    return n+a ## code will exit 
    n=15
    return n+a
    n=20
    return n+a

f1(100)

110

In [101]:
import time
def f1(a):
    n=10
    yield n+a
    time.sleep(1)
    n=15
    yield n+a
    time.sleep(2)
    n=20
    yield n+a
    
for var in f1(100):
    print(var)

110
115
120

In [103]:
class Box:
    def f1(self):
        yield 10
        yield 20
        yield 30
    @classmethod
    def f2(cls):
        yield 100
        yield "Str1",['D1',"D2"],['F1','F2']
    
    
obj=Box()
obj.f1()
Box.f2()

In [104]:
for var in obj.f1():
    print(var)

10
20
30

In [105]:
for var in Box.f2():
    print(var)

100
('Str1', ['D1', 'D2'], ['F1', 'F2'])

In [ ]:
start=1+2 => 1 3 5 7 9 11 13 15 # stop
start=5+2 => 7 9 11 13 15 

start=5+5 => 5 10 15 
                  
# use recursion in generator function 
#       .....................

def fx():
    yield fx()
    
for v in fx():
    ...
    ...

In [108]:
def f1(a):
    yield a
    yield from f1(a+5)
    

for v in f1(1):
    if(v<15):
        print(v)
    else:
        break

1
6
11

In [109]:
[var+100 for var in range(5)]

[100, 101, 102, 103, 104]

In [110]:
(var+100 for var in range(5)) # generator expression

In [111]:
obj=(var+100 for var in range(5)) # generator expression
for var in obj:
    print(var)

100
101
102
103
104

In [117]:
#help(enumerate)

L=[10,20,30,'D1']
  # 0 1  2   3 
print(next(enumerate(L)))

(0, 10)

In [118]:
for var in enumerate(L):
    print(var)

(0, 10)
(1, 20)
(2, 30)
(3, 'D1')

In [119]:
for var in enumerate(L,1):
    print(var)

(1, 10)
(2, 20)
(3, 30)
(4, 'D1')

In [122]:
for var in enumerate(L,5):
    print(var)

(5, 10)
(6, 20)
(7, 30)
(8, 'D1')

In [128]:
c=0
for var in open("C:\\users\\karthikeyan\\emp.csv"):
    c=c+1
    print("{}.{}".format(c,var.strip()))

1.101,ram,sales,pune,10000
2.203,arun,prod,bglore,2000
3.304,vijay,QA,chennai,30000
4.545,xerox,sales,mumbai,34234
5.456,anu,sales,noida,56780

In [133]:
for var in enumerate(open("C:\\users\\karthikeyan\\emp.csv"),1):
    print(var)

(1, '101,ram,sales,pune,10000\n')
(2, '203,arun,prod,bglore,2000\n')
(3, '304,vijay,QA,chennai,30000\n')
(4, '545,xerox,sales,mumbai,34234\n')
(5, '456,anu,sales,noida,56780')

In [134]:
for var in enumerate(open("C:\\users\\karthikeyan\\emp.csv"),1):
    print(var[0],var[1].strip())

1 101,ram,sales,pune,10000
2 203,arun,prod,bglore,2000
3 304,vijay,QA,chennai,30000
4 545,xerox,sales,mumbai,34234
5 456,anu,sales,noida,56780

In [135]:
for var in enumerate(open("C:\\users\\karthikeyan\\emp.csv"),1):
    line,value=var
    print("{}.{}".format(line,value.strip()))

1.101,ram,sales,pune,10000
2.203,arun,prod,bglore,2000
3.304,vijay,QA,chennai,30000
4.545,xerox,sales,mumbai,34234
5.456,anu,sales,noida,56780

In [139]:
for var in enumerate(open("C:\\users\\karthikeyan\\emp.csv"),1):
    line,value=var
    if(line == 3 or line ==4):
        print("{}.{}".format(line,value.strip()))

3.304,vijay,QA,chennai,30000
4.545,xerox,sales,mumbai,34234

In [ ]:
# regx -> re
# threading -> threading
# multiprocess -> multiprocessing
# excel ->openpyxl
# db -> ...
# ... -->existing module

In [ ]:
import module
module.functioncall() -> int/float str/bytes [] () {} MD True/False None <Iterator> 
                        ###########################################################
    
obj=module.Classname(arguments)
obj.method1()  -> int/float str/bytes [] () {} MD True/False None <Iterator> 
obj.method2()  -> int/float str/bytes [] () {} MD True/False None <Iterator> 

module documents 
 |-->coding style 
       |-procedure /oops
       |-existing memebers 
 ||
program

In [141]:
# Regular Expression
# ------------------
#   |__Search the pattern from <input file> (or) <input>
#   |__Substitute the old - replace newpattern 
#   |__split - multiple field(coulmns)
#     +
#   inputValidation 

# file: test1.py
#-----------------
def f1(a1):
    class Box:
        def __init__(self,a1):
            self.a1=a1
        def method1(self):
            return self.a1
    obj=Box(a1)
    return obj

100

In [ ]:
import test1
myobj=test1.f1(100)
myobj.method1()

In [144]:
import re
#re.search("<SearchPatternString>","<inputString>") -><ack>/None
#
#re.findall("<SearchPatternString>","<inputString>") ->[Result]/[]
#

In [146]:
obj=re.search("bash","root:x:bin:bash")
obj.group()

'bash'

In [ ]:
#<_sre.SRE_Match object at 0x7faafab48440>

In [147]:
re.findall("bash","root:x:bin:bash")

['bash']

In [148]:
re.findall("bash","root:x:bin:tcsh")

[]

In [151]:
re.search("bash","root:x:bin:tcsh") == None

True

In [152]:
var='root:x:bash:bin:bash:usr:bash:test'
re.search('bash',var)

In [153]:
obj=re.search('bash',var)
obj.group()

'bash'

In [154]:
re.findall('bash',var)

['bash', 'bash', 'bash']

In [155]:
bool(re.search('bash','sadfdbash'))

True

In [156]:
bool(re.findall('bash','sadfdbash'))

True

In [157]:
L1=[]
L2=["D"]
print(bool(L1),bool(L2))

False True

In [ ]:
# prorgramming style 
# ----------------------
# conditional+loop+fileHandling 

# in unix/linux ->grep  ; in winx ->findstr 
#                -----             ---------
# open a file - read the content line byline =>FileHandling
# search the pattern # re.search("Pattern","inputString")
# print matched pattern line only # if(re.search("Pattern","inputString")):

In [ ]:
for var in open("inputfile"):
    if(re.search("Pattern",var,re.I)):
        print(var) 
        
# grep /findstr command logic

In [ ]:
Regx chars 
---------------
1.BasicRegx(BRE)                       2.ExtendedRegx(ERE)
singlepattern                              more than onepattern
^ $ . .* ^pattern$                       | () {} +
[]
^[]
[]$ [^]
\w \d \s(space)
^$

ls{Enter} Vs ls *.log{Enter}

In [158]:
# ^Pattern 
re.search("sales","kumar,sales,pune")

In [160]:
re.search("^sales","Kumar,sales,pune")
re.findall("^sales","Kumar,sales,pune")

[]

In [161]:
re.search("^sales","sales,pune")

In [162]:
re.search("^d","daemon process")

In [164]:
re.search("^5","5OL")

In [165]:
re.search("\s","python program")

In [166]:
re.search("^\s","python program")

In [171]:
# Pattern$ - line ends with pattern
#
# sales$  -> asddsdsfsas sales 
#
# ^sales -> sales sdsafasfsd
#               
re.search("sales$","emp list of sales ") # notmatched 

re.search("sales\s$","emp list of sales ")

In [173]:
for var in os.listdir("D:\\"):
    if(re.search("mp4$",var)):
        print(var)

2018-05-08_15-45-04.mp4
2018-05-09_20-51-08(0).mp4
2018-05-09_20-51-08.mp4
4__original.mp4
copy.mp4

In [ ]:
^pattern - line starts
pattern$ - line ends 

^pattern$ - pattern onlystyle  # re.search("^pattern$","input")

In [176]:
re.search("^sales$","sales")

In [177]:
# .(dot) -> match any single char (except \n)
# ^.. Line starts with any two chars
# ..$  Line ends with any two chars 

re.findall("^python.program$","pythonprogram")

[]

In [181]:
re.findall("^python.program$","python program")

['python program']

In [188]:
re.findall("^python..program$","python  program")
# line starts with python followed by any two chars ends with program

['python  program']

In [186]:
re.findall("^python.*program$","python asfdasfsd safsasa s program")

['python asfdasfsd safsasa s program']

In [ ]:
# Character based search
# -----------------------
#  A-Za-z0-9space specialchars 
#
# [] <== 1 chars    [][] <== 2chars 
#
# [Aav]run
# ---------
#   Arun arun vrun //matched 
#
# [Aav][Rr]un
# ---------------
#  ARun Arun aRun arun 
#  --   --   --   --
#
# list outprocess -> process name ->ends with 's' 'd'
#

[a-z]
[A-Z]
[a-zA-Z]
[0-9] -----> \d
[a-zA-Z0-9] (or) \w
-------------------------//builting char class

In [194]:
n=input("Enter any two digits:")
if re.search("^[0-9][0-9]$",n):  ###
    print("Valid format")
else:
    print("Invalid format")

Enter any two digits:456
Invalid format

In [ ]:
write a program
read a emp code - 1st uppercase - A to E followed by any 3 digits
       --------
         |_length is 4chars
read a N value from <STDIN>
      ---------
        |__3digits 
             |
             isdigit() ->True/False
                          |
                        typecast to int ->x+100 =>display result

In [198]:
empcode=input("Enter a emp code:")
if re.search("^[A-E][0-9][0-9][0-9]$",empcode):
    print("Valid")
else:
    print("Invalid")

Enter a emp code:C345
Valid

In [202]:
n=input("Enter any 3 digits:")
if re.search("^[0-9][0-9][0-9]$",n):
    if(n.isdigit()):
        print(int(n)+100)
else:
    print("Invalid Format")

Enter any 3 digits:234
334

In [ ]:
[aT5] -> match 'a' match 'T' match '5'

^[aT5] -> line starts with 'a'
          line starts with 'T'
          line starts with '5'
    
[^aT5] -> NOT matching matching 'a' 'T' '5'
          ===
[^A-Z] ->Not matching any uppercase chars Vs ^[A-Z] line startswith Any uppercase 
=======                                      ======

[^A-Za-z] - match space,digits,specialchars 

[^A-Za-z0-9] - match space and specialchars 

[^A-Za-z0-9\s] - match specialchars <== [^\w\s]

In [203]:
var="SAMPLE Data On 12th OCT 2020 code:F123 test-rate 12% email@host"

re.findall("[^\w\s]",var)

[':', '-', '%', '@']

In [ ]:
^$ - empty line

^pattern
pattern$
^pattern$
.
.*
[]
^[]
[]$
[^]
\d [0-9]
\w [A-Za-z0-9]
\s space
^$ empty line
---------------------//BRE

|  
pattern1|pattern2  //any one pattern is matched ->True -like logical or operator 


re.search("^[0-9].*\s$",S1)

re.search("^[A-Z].*daemon.*[a-z]$",S2)

re.search("^[0-9].*\s$|^[A-Z].*daemon.*[a-z]$",input_String)
          |----------------------------------|
          |                                  |

In [205]:
var="programming python and java codes"

re.findall("python|java|oracle",var)

['python', 'java']

In [206]:
re.findall("ansible|java|oracle",var)

['java']

In [207]:
re.findall("ansible|ruby|oracle",var)

[]

In [ ]:
(pattern1)(Pattern2) - both pattern should match ->same order 
                     - like logical and   True and True ->True

In [208]:
re.findall("(python)(java)","programming python and java")

[]

In [209]:
re.findall("(python)(java)","programming python java")

[]

In [210]:
re.findall("(python).(java)","programming python java")
            # python<Space>java

[('python', 'java')]

In [211]:
re.findall("(python).(java)","programming java python")

[]

In [212]:
re.findall("(python).*(java)","programming python list of code and java")

[('python', 'java')]

In [213]:
re.findall("(python)(.*)(java)","programming python list of code and java")

[('python', ' list of code and ', 'java')]

In [216]:
re.findall("(python|java|ruby).*(program|script)","programming sample java program code")

# python <AnyText>program
# python <AnyText>script
# java <AnyText>program
# java <AnyText>script
# ruby <AnyText>program
# ruby <AnyText>script

[('java', 'program')]

In [ ]:
<Pattern>+  # 1 or more 
 b+   b bbbbbbbbbbbbbbbb //matched
    
ab+   ab abbbbbbbbbbbbbbbb //matched 

ab+c  abc abbbbbbbbbbbbbbbbbbc //matched

In [220]:
S='SAMPLE 5REPORT On 12th SEP 2020 TIME @ 11:20:34 PM IST code-233/32:43'
re.findall("[0-9]+",S)

['5', '12', '2020', '11', '20', '34', '233', '32', '43']

In [223]:
re.findall("[0-9]+[A-Za-z]+",S)

['5REPORT', '12th']

In [ ]:
re.search("^\s+",inputstring)

In [ ]:
"[0-9]+"  -> 12331233213211313131231231231212 //matched 

"[0-9]+"  ->12331312312312,123212131 //notmatched

In [ ]:
{} 
<Pattern>{n} -  n times 
<Pattern>{n,} - minimum 'n' times - maximum nolimit 
<Pattern>{n,m} - minimum 'n' times - maximum 'm'times

In [ ]:
^[A-Z][0-9][0-9][0-9][a-z][a-z]$ same as -> ^[A-Z][0-9]{3}[a-z]{2}$
---------------------------------           =======================

^[A-Z][a-z]+$  ---> ^[A-Z][a-z]{1,}$ 
               
[0-9]{1,} -> 1 23324234232323423234 
[0-9]{3,} -> 434 345353453453453453434//matched 
----------

In [ ]:
^[A-Za-z][0-9]{2,4}[a-z]$
         ----------
A45s
a65g
B34h
G456y
G4345h
----------//matched 

A5f 
A12345g
---------//not-Matched 

user@hostname.com

for var in open("filename"):
    if re.search("^[A-Za-z0-9_]+@[a-zA-Z0-9]+\.com$",var):
        print(var.strip())

In [ ]:
re.sub()
----------
 |->oldpattern ->replaced newstring
    
re.sub("OldPattern","ReplacedString","InputString",count,re.I) ->string(str)
          Regx

In [224]:
re.sub("sales","QA","101,ram,sales,pune,1000")

'101,ram,QA,pune,1000'

In [225]:
re.sub("sales","QA","101,ram,prod,pune,1000")

'101,ram,prod,pune,1000'

In [226]:
for v in open("C:\\users\\karthikeyan\\emp.csv"):
    s=re.sub("sales","ADMIN",v)
    print(s.strip())

101,ram,ADMIN,pune,10000
203,arun,prod,bglore,2000
304,vijay,QA,chennai,30000
545,xerox,ADMIN,mumbai,34234
456,anu,ADMIN,noida,56780

In [227]:
for v in open("C:\\users\\karthikeyan\\emp.csv"):
    if(re.search("sales",v)):
        s=re.sub("sales","ADMIN",v)
        print(s.strip())

101,ram,ADMIN,pune,10000
545,xerox,ADMIN,mumbai,34234
456,anu,ADMIN,noida,56780

In [228]:
re.sub("^sales","ADMIN","ram,sales,pune")
      # REGX

'ram,sales,pune'

In [229]:
s1="101,kumar,prod,1234"
s2='455,anu,sales,3455'
re.sub("sales|prod","****",s1)

'101,kumar,****,1234'

In [230]:
re.sub("sales|prod","****",s2)

'455,anu,****,3455'

In [231]:
re.sub("sales","ADMIN","kumar,sales,pune,sales,1123,sales,code,sales")

'kumar,ADMIN,pune,ADMIN,1123,ADMIN,code,ADMIN'

In [233]:
#help(re.sub)
re.sub("sales","ADMIN","kumar,sales,pune,sales,1123,sales,code,sales",1)

'kumar,ADMIN,pune,sales,1123,sales,code,sales'

In [234]:

re.sub("sales","ADMIN","kumar,sales,pune,sales,1123,sales,code,sales",2)

'kumar,ADMIN,pune,ADMIN,1123,sales,code,sales'

In [236]:
re.sub("sales","****","kumar,sales,SALES,pune",0,re.I)

'kumar,****,****,pune'

In [240]:
for var in open("D:\\property"):
    if(re.search("interface",var)):
        print(re.sub('eth0','NEWETH0',var))

interface='NEWETH0'

In [243]:
var="101,kumar,sales,pune,10000"

# delete sales word 
#        -----
s=re.sub("sales.","",var)
print(s)

101,kumar,pune,10000

In [245]:
re.sub(".sales.*",'',var)

'101,kumar'

In [249]:
L=['13.54GB','434.GB','100.35MB','134.50GB','125G']

# how to calculate sum of size?

# '13.54GB' --> '13.54' ->float('13.54') ->13.54 
#       --

s='13.54GB'
# re.sub('..$','',s)

re.sub('[A-Za-z]+','',s)

'13.54'

In [254]:
L=['13.54GB','434.GB','100.35GB','134.50GB','125G']
s=0
for var in L:
    r=re.sub('[A-Za-z]+','',var)
    s=float(r)+s
else:
    print("Sum of Size:{} GB".format(s))

Sum of Size:807.39 GB

In [268]:
from functools import reduce
def fx(a):
    return re.sub("['A-Za-z']",'',a)
    
    
print(str(reduce(lambda a,b:float(a)+float(b),list(map(fx,L))))+" GB")

807.39 GB

In [269]:
# in unix/linux awk ---> re.split() Vs string.split()

s="root:x:bin:bash"
s.split(":")

['root', 'x', 'bin', 'bash']

In [270]:
# re.split("Pattern","inputString") ->[ result ]
# 

re.split(":",s)

['root', 'x', 'bin', 'bash']

In [271]:
s='101,kumar:/bin/bash-Linux:1234@hostname,test'
s.split(":")

['101,kumar', '/bin/bash-Linux', '1234@hostname,test']

In [272]:
re.findall("[^\w\s]",s)

[',', ':', '/', '/', '-', ':', '@', ',']

In [274]:
re.split("[^\w\s]+",s)

['101', 'kumar', 'bin', 'bash', 'Linux', '1234', 'hostname', 'test']

In [281]:
for v in open("D:\\IP.txt"):
    L=re.split("[^\w\s]+",v)
    print("Total no.of fields: {}\t {}\t{}".format(len(L),L[0],L[-1].strip()))

Total no.of fields: 3	 101	bash
Total no.of fields: 3	 102	ksh
Total no.of fields: 3	 103	csh
Total no.of fields: 3	 104	tcsh
Total no.of fields: 3	 105	bash

In [ ]:
re.search() ; re.findall() # searching pattern 
re.sub() ; # substitute 
re.split() ; split single data to multiple value - formatting
                                  ############### list 
re.compile("PAtternOnly")

In [282]:
re.search("sales","kumar,sales,pune")

In [285]:
pobj=re.compile("sales")
pobj.search("kumar,sales,pune") 
#obj.f1() -> f1(obj)
#obj.f1("inputdata") -> f1(obj,"inputdata")

In [288]:
pobj.findall("kumar,sales,salespune")

['sales', 'sales']

In [287]:
pobj.split("asdsfs sales asfsdsales sdfsdsales sadfasd")

['asdsfs ', ' asfsd', ' sdfsd', ' sadfasd']